
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test app</title>
    <link rel="stylesheet" href="{%static 'css/teststyle.css'%}">
</head>
<body>
    <div class="heading">
        <h1>Hello Guest</h1>
        <h2>TEST PAPER GK</h2>
    </div>
    <div class="questionblock">
            <div class="que">
                <h2>Where is Mumbai?</h2>
            </div>
            <div class="option">
                <input type="radio" name='answer'><span>Andra Pradesh</span>
            </div>
            <div class="option">
                <input type="radio" name='answer'><span>Gujrat</span>
            </div>
            <div class="option">
                <input type="radio" name='answer'><span>Maharashtra</span>
            </div>
            
            <div class="option">
                <input type="radio" name='answer'><span>Rajastan</span>
            </div>
            
            <div class="option">
                <input type="radio" name='answer'><span>Madya Pradesh</span>
            </div>
            <div class="submit">
                <input type="submit">
            </div>
    </div>
    
</body>
</html>