<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test app</title>
</head>
<body>
    <h1>TEST PAPER GK</h1>
    <div>
        <h2>Where is Mumbai?</h2>
        <input type="radio" name='answer'>Andra Pradesh<br>
        <input type="radio" name='answer'>Gujrat<br>
        <input type="radio" name='answer'>Maharashtra<br>
        <input type="radio" name='answer'>Rajastan<br>
        <input type="radio" name='answer'>Madya Pradesh<br>
    </div>
    <input type="submit">
</body>
</html>