body{
    background-image: url('../images/demo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.heading h1{
    padding:10px;
}
.questionblock{
    background-color: white;
    border-style: solid;
    border-color: navy;
    padding:40px;
    width:60%;
    
}
.que{
    font-size: 20px;
    color:navy;
    font-weight: bold;
}

.option{
    color: blue;
    margin-left:20px;
    font-weight: 20px;
}

.submit input{
    width: 200px;
    height: 40px;
}