<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page of project t</title>
</head>
<body>
    <h1>{{msg}}</h1>
    <h1>This msg has {{msg|wordcount}} words</h1>
    <h1>Cap first -> {{msg|capfirst}}</h1>
    <h1>In upper case -> {{msg|upper}}</h1>
    <h1>In lower case -> {{msg|lower}}</h1>
    <!--operation on list jinja-->>
    <h1>{{l|first}}</h1>
    <h1>{{l|last}}</h1>
    <h1>{{l|length}}</h1>
</body>
</html>